<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talyeh3.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ToBeTest"
            android:label="@string/title_activity_to_be_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPostActivity" />
        <activity android:name=".AllPostActivity" />
        <activity android:name=".EditPostActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".OpenTeam" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OpenTeamDetails" />
        <activity android:name=".MyTeams" />
        <activity android:name=".TeamDetails" />
        <activity android:name=".AllUsers" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".Chat.ChatActivity"></activity>
        <activity android:name=".WeatherActivity"></activity>
    </application>

</manifest>