<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talyeh3.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgG2PdoQ71oG4RnIt5nk3Ni3gNLMNgoVs" />

        <activity
            android:name=".ToBeTest"
            android:label="@string/title_activity_to_be_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Posts.AddPostActivity" />
        <activity android:name=".Posts.AllPostActivity" />
        <activity android:name=".Posts.EditPostActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Team.OpenTeam" />
        <activity android:name=".Team.ProfileActivity" />
        <activity android:name=".Team.OpenTeamDetails" />
        <activity android:name=".Team.MyTeams" />
        <activity android:name=".Team.TeamDetails" />
        <activity android:name=".AllUsers" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".CreateGame.CreateGame" />
        <activity android:name=".CreateGame.TeamGamesActivity" />
        <activity android:name=".Statistics.StatisticsActivity" />
        <activity android:name=".Statistics.editStatistics" />
        <activity
            android:name=".Gallery.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Gallery.NewsDetails" />
        <activity
            android:name=".Gallery.BigPhoto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Posts.ThisPostActivity"></activity>
    </application>

</manifest>